.escolha {
    color: var(--font-color);
    margin: 15px;
}

.escolha {
    button {
        background-color: #f004;
        color: var(--font-color);
        transition: var(--transition);

        width: 50px;
        height: 50px;

        cursor: pointer;

        display: inline-block;

        border-radius: 5px;
        box-shadow: var(--box-shadow);
        margin: 0 21px;
    }
}

.escolha {
    button:hover {
        background-color: #f003;
        color: var(--font-color-hover);

        box-shadow: var(--box-shadow-hover);

        transform: scale(0.9);
    }
}