 :root {
     --box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, 0.2);
     --box-shadow-hover: 0.7px 0.7px 0.7px 0.7px rgba(200, 200, 200, 0.2);
     --transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

     --font-color: #fff;
     --font-color-hover: #ddd;
 }

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(180, 40%, 10%, 0.8);
}

.escolha {
    color: var(--font-color);
    margin: 15px;
}

.escolha button {
    background-color: #f004;
    color: var(--font-color);
    transition: var(--transition);

    width: 50px;
    height: 50px;

    cursor: pointer;

    display: inline-block;

    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 0 21px;
}
.escolha button:hover {
    background-color: #f003;
    color: var(--font-color-hover);

    box-shadow: var(--box-shadow-hover);

    width: 49px;
    height: 49px;
}

.vezDisplay {
    display: none;
    opacity: 0;

    color: var(--font-color);
    text-align: center;
}

.board {
    display: none;
    grid-template-columns: repeat(3, auto);
    opacity: 0;
}
.board button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 80px;
}

.board button:disabled {
    opacity: 1;
    color: rgba(170, 200, 220, 0.7);
}


.casas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    
    border: 1px solid #ccc;
}

.button-reboot {
    display: none;

    height: 25px;

    border: 1px solid #0aa;
    border-radius: 7px;
    margin: 15px 0;
    padding: 0;
}
.button-reboot button {
    background-color: #0fa4;
    color: var(--font-color);
    transition: var(--transition);

    width: 100%;
    height: 100%;

    border: none;
    box-shadow: var(--box-shadow);

    cursor: pointer;
}
.button-reboot button:hover {
    background-color: #0fa2;
    color: var(--font-color-hover);

    box-shadow: var(--box-shadow-hover);
}

@media screen and (min-width: 351px) and (max-width: 480px) {
    body {
        font-size: 0.8rem;
    }
    .casas {
        width: 115px;
        height: 115px;
    }
    .escolha button {
        width: 42px;
        height: 42px;
    }
    .board button {
        font-size: 3.8rem;
    }    
}
@media screen and (max-width: 350px) {
    body {
        font-size: 0.7rem;
    }
    .casas {
        width: 100px;
        height: 100px;
    }
    .escolha button {
        width: 38px;
        height: 38px;
        margin: 0 15px;
    }
    .board button {
        font-size: 3.2rem;
    }    
}
